<h4><f:translate key="works.type" /></h4>
<ul>
	<li><f:link.action action="show" arguments="{filters : {type : 10}}" addQueryString="TRUE"><f:translate key="works.type.I.10" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {type : 20}}" addQueryString="TRUE"><f:translate key="works.type.I.20" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {type : 30}}" addQueryString="TRUE"><f:translate key="works.type.I.30" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {type : 40}}" addQueryString="TRUE"><f:translate key="works.type.I.40" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {type : 50}}" addQueryString="TRUE"><f:translate key="works.type.I.50" /></f:link.action></li>
</ul>
<h4><f:translate key="works.original_language" /></h4>
<ul>
	<li><f:link.action action="show" arguments="{filters : {originalLanguage : 1}}" addQueryString="TRUE"><f:translate key="works.original_language.I.1" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {originalLanguage : 2}}" addQueryString="TRUE"><f:translate key="works.original_language.I.2" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {originalLanguage : 3}}" addQueryString="TRUE"><f:translate key="works.original_language.I.3" /></f:link.action></li>
</ul>
<h4><f:translate key="works.authenticity" /></h4>
<ul>
	<li><f:link.action action="show" arguments="{filters : {authenticity : 0}}" addQueryString="TRUE"><f:translate key="works.authenticity.I.0" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {authenticity : 1}}" addQueryString="TRUE"><f:translate key="works.authenticity.I.1" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {authenticity : 2}}" addQueryString="TRUE"><f:translate key="works.authenticity.I.2" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {authenticity : 3}}" addQueryString="TRUE"><f:translate key="works.authenticity.I.3" /></f:link.action></li>
	<li><f:link.action action="show" arguments="{filters : {authenticity : 4}}" addQueryString="TRUE"><f:translate key="works.authenticity.I.4" /></f:link.action></li>
</ul>